@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple-pink: #DA69BB;
  --color-brown-pink: #534141;
  --color-hot-pink: #FF0084;
  --color-pink-accent: #ED7EB2;
  --color-light-lilac: #FDF8FE;
  --color-gray-accent: #D6D6D6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scrollbar-cute::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-cute::-webkit-scrollbar-thumb {
  background-color: #D6D6D6;
  border-radius: 9999px;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-pressStart {
  font-family: var(--font-pressStart), system-ui;
}

.font-silkscreen {
  font-family: var(--font-silkscreen), sans-serif;
}

.font-vt323 {
  font-family: var(--font-vt323), monospace;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
